body {
    background-color: #efefef;
}
.mainContainer {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
}

.leftContainer,.rightContainer    {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.leftContainer {
}
.imageList{
    padding: 5px;
    display: block;
    margin: 15px auto;
}
.imageList img{
    width: 100px;
    height: 100px;
    display: inline-block;
    /* float: left; */
    padding: 6px;
}
.rightDropContainer {
    width: 100%;
    height: 100vh;
}
.dropContainer {
    width: 100%;
    height: 100vh;
}
.hidden {
    display: none;
}

.canvasHeader {
    position: fixed;
    top: 0px;
    right:0px;
}

.imagesHeader {
    font-size: 0.6em;
text-align: left;
cursor: pointer;
}
